<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>test</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="~/CSS/styles.4da4b992e298d619d17e.bundle.css" rel="stylesheet"/>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>