<app-root>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <span class="fa fa-cog fa-spin fa-3x fa-fw col-md-offset-4 col-md-1 "></span>
    Loading...
</app-root>

<script type="text/javascript" src="Scripts/inline.90289c92bd06819c99b5.bundle.js"></script>
<script type="text/javascript" src="Scripts/polyfills.e6c9a561d870e42829c6.bundle.js"></script>
<script type="text/javascript" src="Scripts/scripts.126c305df19c7537ee62.bundle.js"></script>
<script type="text/javascript" src="Scripts/main.d4dbfb817420fe2abb6f.bundle.js"></script>
    